$width-header    : 1120px;
#header {
    #head-artwork {
        height: 549px;
        width: 100%;
        .visible-header {
            display: none;
            position: absolute;
            top: 81%;
            width: 100%;
            left: 50%;
            text-align: center;
            @include transform(translate(-50%,-50%));
        }
    }
    #top-menu {
        height: 50px;
        line-height: 50px;
        width: 100%;
        position: fixed;
        top: 0;
        
        .head-content {
                width: $width-header;
                margin: auto;
            }
        #logo {
            float: left;
            margin-top: 10px;
            margin-left: 10px;
            display: none;
        }
        nav {
            float: right;
            .nav-menu {
            }
            ul{
                li{
                    display: inline-block;
                    margin-right: 35px;
                    height: 35px;
                    border-bottom: 2px solid transparent;
                    padding-bottom: 0px;
                    &.current_page_item, &:hover {
                        border-bottom: 3px solid $color3;
                    }
                    a {
                        color: $color2;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-family: $font-semi-bold; 
                    }
                }
            }
        }
    }
}
.page-accueil #header {
    #head-artwork {
        background: url('images/header.jpg') no-repeat;
        width: 100%;
        background-position: center;
        margin-top: 50px;
    }
    #top-menu {
        background: rgba(255,255,255,0.8);
        
        #logo.black {
            display: block!important;
        }
    }

}
.page-a-propos, .page-nos-prestations, .page-contactez-nous {
     #header {
        width: 100%;
        height: 549px;
        #top-menu {
            background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
            z-index: 1;
            
            nav li a {
                color: $color1;
            }
            #logo.white{
                display: block!important
            }
        }
        #head-artwork {
            background-size: cover!important;
            position: absolute;
            top: 0;

        }

    }
}
.page-a-propos {
    #header {
        #head-artwork {
            background: url('images/header-a-propos.jpg') no-repeat;
            .visible-header.a-propos {
                display: block;
                color: $color1;
            }
        }

    }
}
.page-nos-prestations {
    #header {
        #head-artwork {
            background: url('images/header-prestations2.jpg') no-repeat;
            .visible-header.prestations{
                display: block;
                color: $color1;
            }
        }

    }
}
.page-contactez-nous {
    #header {
        #head-artwork {
            background: url('images/header-contact.jpg') no-repeat;
            .visible-header.contact {
                display: block;
                color: $color1;
            }
        }

    }
}