/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, sass/_reset.scss */
a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
/* line 30, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 34, sass/_reset.scss */
body {
  line-height: 1;
}

/* line 37, sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, sass/_common.scss */
body {
  font-family: 'montserratlight';
  color: #2c2c2c;
}

/* line 15, sass/_common.scss */
h1 {
  font-size: 36px;
  font-family: "montserratregular";
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 22, sass/_common.scss */
h1 span {
  font-family: "montserratextra_bold";
}

/* line 27, sass/_common.scss */
.block {
  width: 100%;
  padding: 30px 0;
}
/* line 30, sass/_common.scss */
.block.black {
  background: #2c2c2c;
  color: #FFF;
}

/* line 35, sass/_common.scss */
.content {
  width: 700px;
  margin: auto;
}

/* line 39, sass/_common.scss */
p {
  line-height: 20px;
  font-family: "montserratlight";
  font-size: 14px;
  text-align: justify;
}

/* line 1, sass/_header.scss */
#header {
  width: 1120px;
  margin: auto;
}
/* line 4, sass/_header.scss */
#header #head-artwork {
  background: url("images/header.jpg") no-repeat;
  width: 100%;
  height: 549px;
}
/* line 9, sass/_header.scss */
#header #top-menu {
  height: 50px;
  line-height: 50px;
}
/* line 12, sass/_header.scss */
#header #top-menu #logo {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
/* line 17, sass/_header.scss */
#header #top-menu nav {
  float: right;
}
/* line 22, sass/_header.scss */
#header #top-menu nav ul li {
  display: inline-block;
  margin-right: 35px;
  height: 35px;
  border-bottom: 2px solid transparent;
  padding-bottom: 0px;
}
/* line 28, sass/_header.scss */
#header #top-menu nav ul li.current_page_item, #header #top-menu nav ul li:hover {
  border-bottom: 3px solid #E55500;
}
/* line 31, sass/_header.scss */
#header #top-menu nav ul li a {
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "montserratsemi_bold";
}

/* line 5, sass/style.scss */
html {
  margin: 0 !important;
}
